@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    @apply
    bg-slate-200
}

h1{
    @apply
    text-4xl
    mb-6
}

h3{
    @apply
    text-2xl
    mb-2
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }
  
  input[type=color]::-webkit-color-swatch-wrapper {
      border: none;
      border-radius: 50%;
      padding: 0;
  }