*{
    font-family: consolas;
}

body{
    background: #222;
}

#color-table{
    display: none;
    /* display: inline; */
}
.color-row{
    display: inline-block;
}
.color-cell{
    display: inline-block;
    padding: 5px;
    width: 65px;
    text-align: center;
}
.color-header .color-cell{
    cursor: pointer;
}

.container{
    background: #333;
    margin: auto;
    margin-top: 50px;
    width: 815px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 20px #000000bb;
    border-radius: 5px;
}

#image-container{
    flex-shrink: 0;
    height: 300px;
    width: 300px;
    background: #444;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;
}

#image-uploader{ display: none;}

#image-container > img{
    max-height: 100%;
    max-width: 100%;
}


.title{
    font-size: 1.1em;
    color: #bbb;
    margin: 12px 0 2px 0;
}

.color-dots{
    display: flex;
    flex-wrap: wrap;
}

.dot{
    margin-right: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: lightgrey;
    cursor: pointer;
}

#vs-code-btn{
    float:right;
}