.color-row{
    display: inline-block;
}
.color-cell{
    display: inline-block;
    padding: 5px;
    width: 60px;
    text-align: center;
}
.color-header .color-cell{
    margin-right: -4px;
    cursor: pointer;
    height: 28px;
    padding: 0;
    width: 70px;
    margin-bottom: -4px;
}

#image-container{
    height: 200px;
}
#image-container > img{
    height: 100%;
}