html, body{
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#vs-code-preview{
    border: 1px solid black;
    height: 100%;
}
#color-panel{
    width:300px;
    border: 1px solid black;
    float: right;
    height: 100%;
    background: #212121;
    color: #b0b0b0;
    font-family: sans-serif;
}

#image-container{
    height: 300px;
    width: 300px;
    background: #eee;
    cursor: pointer;
}


/***************/
/* Color Panel */
/***************/
#colors{ padding: 15px;}
#colors .color {
    position: relative;
    height: 25px;
    margin-bottom: 5px;
}
#colors .color-sample {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}
#colors .color-text{
    position: absolute;
    top: 5;
    left: 35px;
}


#image-uploader{ display: none;}

#download-controls{
    padding: 15px;
}


















#color-table{
    font-family: consolas;
    display: inline;
}
.color-row{
    display: inline-block;
}
.color-cell{
    display: inline-block;
    padding: 5px;
    width: 65px;
    text-align: center;
}
.color-header .color-cell{
    cursor: pointer;
}

#image-container{
    height: 200px;
}
#image-container > img{
    height: 100%;
}